ARK_MODEL=ep-m-20260518145505-mt7gb
ARK_API_KEY=your_ark_api_key
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_REASONING_EFFORT=
ARK_TIMEOUT_SECONDS=30

WEB_SEARCH_ENABLED=true
WEB_SEARCH_TIMEOUT_SECONDS=10

VIKINGDB_AK=your_vikingdb_ak
VIKINGDB_SK=your_vikingdb_sk
VIKINGDB_HOST=api-vikingdb.vikingdb.ap-southeast-1.bytepluses.com
VIKINGDB_REGION=ap-southeast-1
VIKINGDB_PROJECT_NAME=default
VIKINGDB_COLLECTION_NAME=your_collection_name
VIKINGDB_INDEX_NAME=your_index_name
